# Archivos de sistema y entorno
__pycache__/
*.py[cod]
*$py.class
.env
venv312/
venv/
.vscode/
.idea/

# Backend
backend/__pycache__/
backend/venv312/
backend/.env
backend/mlruns/
backend/ml_models_v2/

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local