version: '3.8'
services:
  db:
    image: timescale/timescaledb:latest-pg14
    environment:
      POSTGRES_DB: refineryiq
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 307676
    ports:
      - "5432:5432"
    volumes:
      - ./database/init:/docker-entrypoint-initdb.d
      - timescale_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://admin:refinery2024@db:5432/refineryiq"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  timescale_data: